* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Nunito Sans';
    font-size: 16px;
}

.text-1 {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
}

.text-2 {
    font-size: 13px;
    font-weight: 300;
}

.text-3 {
    font-weight: 700;
}
